<div class="container container1">
  <div class="row">
    <div class="col">
      <h2>CONTACT ME</h2>
      <h4>Let's work together!</h4>
      <div class="row">
        <div class="col">
          <h5>MAIL</h5>
          <p>rogergibert@gmail.com</p>
        </div>
        <div class="col">
          <h5>LOCATION</h5>
          <p>Tarragona</p>
        </div>
        <div class="col">
          <h5>SOCIALS</h5>
          <span>
            <a
              class="link1"
              href="https://www.linkedin.com/in/roger-gibert-rovira-developer/"
              target="_blank"
            >
              Linkedin
              <i class="fa-solid fa-external-link-alt"></i>
            </a>
          </span>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span>
            <a
              class="link1"
              href="https://github.com/rogergibertrovira"
              target="_blank"
            >
              Github
              <i class="fa-solid fa-external-link-alt"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
