<div class="container">
  <div class="row">
    <div class="col">
      <img
        class="img-fluid shadow-lg img1"
        src="../../assets/img/personal_website.PNG"
        alt=""
      />
      <h2 class="name">PERSONAL WEBSITE</h2>
      <p class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro facere
        optio cumque magnam similique id corrupti fugit.
      </p>
      <span class="span1">THIS ACTUAL SITE</span>
      <span style="font-size: 1.4em">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <a href="" class="link1">GITHUB</a>
    </div>
  </div>
</div>
