<div class="container container1">
  <div class="row">
    <h1>ROGER GIBERT</h1>
    <h3>FRONT-END DEVELOPER</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum
      dolor sit amet, consectetur adipisicing elit
    </p>
  </div>
  <div class="row row1">
    <ul class="list-group list1">
      <li class="list-group-item list-item1">
        <a class="a1" href="#about">
          <i class="fa-regular fa-circle"></i>
          <span>&nbsp;&nbsp;About</span>
        </a>
      </li>
      <li class="list-group-item list-item1">
        <a class="a1" href="#projects">
          <i class="fa-solid fa-circle"></i>
          <span>&nbsp;&nbsp;Projects</span>
        </a>
      </li>
      <li class="list-group-item list-item1">
        <a class="a1" href="#contact">
          <i class="fa-solid fa-circle"></i>
          <span>&nbsp;&nbsp;Contact</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="btn-group">
      <a class="link-face" href="#">
        <i class="fa-brands fa-linkedin fa-2xl icon1"></i>
      </a>
      <a class="link-face" href="#">
        <i class="fa-brands fa-github fa-2xl icon1"></i>
      </a>
    </div>
  </div>
</div>
