<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <img class="img-fluid" src="../../assets/img/default_img.jpg" alt="" />
    </div>
    <div class="col col-lg-8">
      <h3>PROJECT NAME</h3>
      <p class="p1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro facere
        optio cumque magnam similique id corrupti fugit. Natus minus asperiores
        qui facere, ipsum dolore delectus quos hic. Quidem, autem facere!Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Natus minus asperiores
        qui facere, ipsum dolore delectus quos.
      </p>
      <button class="button1">LIVE SITE</button>
      <span> | </span>
      <button class="button1">GITHUB</button>
    </div>
  </div>
</div>
