.container{
  margin-top: 50px;
  padding: 50px;
  border: solid 1px black;
}

.button1 {
  min-width: 5em;
  margin-left: 5px;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 0;
}

.button1:hover, .button:active{
  border-bottom: solid 2px black;
}
