<div class="container container1" *ngIf="hiddenMenu == false; else menu">
  <div class="row">
    <div class="col">
      <p class="display-4 title">PROJECTS</p>
    </div>
    <div class="col col-top-left">
      <button type="button" class="btn grid-menu" (click)="showMenu()">
        <i class="bi bi-grid-3x3-gap-fill"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <app-card-personal-web></app-card-personal-web>
    </div>
    <div class="col-12 col-lg-6">
      <app-card-personal-web></app-card-personal-web>
    </div>
  </div>
</div>

<ng-template #menu>
  <div class="container container1">
    <div class="row justify-content-between">
      <div class="row">
        <div class="col col-top-left">
          <button class="btn dark-mode">
            MODE <i class="bi bi-moon-fill"></i>
          </button>
          <button class="btn grid-menu" (click)="hideMenu()">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col col-menu">
          <a href="/" class="menu-item"><p class="display-4">HOME</p></a>
          <a href="/about" class="menu-item"
            ><p class="display-4">ABOUT</p></a
          >
          <span>
            <a
              class="link2"
              href="https://www.linkedin.com/in/roger-gibert-rovira-developer/"
              target="_blank"
              >Linkedin</a
            >
          </span>
          <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
          <span>
            <a
              class="link2"
              href="https://github.com/rogergibertrovira"
              target="_blank"
              >Github</a
            >
          </span>
          <p class="email1">rogergibert8@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
