/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e85a4f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e85a4f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h3,
h4 {
  color: #65635d;
  font-family: JosefinSans;
}

@media only screen and (min-width: 992px) {
  .container1 {
    padding-top: 50px;
    height: 100vh;
  }
  .col1 {
    text-align: left;
  }
  .col-left {
    padding-left: 50px;
    padding-top: 40px;
  }
  .col-top {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .container1 {
    padding: 20px;
    padding-top: 50px;
    height: 100vh;
  }
  .col1 {
    text-align: center;
  }
  .col-left {
    padding-top: 30px;
  }
  .col-top {
    padding-top: 30px;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: JosefinSans;
  font-size: 1.25em;
}

.row1 {
  padding-top: 20px;
}

.col-top-left {
  text-align: end;
}

.col-menu {
  text-align: end;
  padding-right: 30px;
  padding-top: 30px;
}

.icon1 {
  margin-left: 15px;
  color: #e85a4f;
  font-size: xx-large;
}

.title {
  font-family: CatHat;
  font-weight: 900;
  color: #e85a4f;
}

.menu-item {
  font-family: CatHat;
  font-weight: 900;
  color: #e85a4f;
  text-decoration: none;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  color: #ce4a40;
  text-decoration: none;
}

.grid-menu {
  color: #e85a4f;
  font-size: xx-large;
  border: none;
  background-color: transparent;
}

.text {
  font-family: JosefinSans;
  font-size: larger;
  color: #65635d;
}

.span1 {
  font-family: JosefinSans;
  color: #65635d;
}

.link1 {
  color: #e98074;
}

.link1:hover,
:focus {
  color: #e85a4f;
}

.link2 {
  font-size: 1.25em;
  font-family: JosefinSans;
  color: #e98074;
}

.link2:hover,
:focus {
  color: #e85a4f;
}

.email1 {
  font-size: 1.25em;
  font-family: JosefinSans;
  color: #65635d;
}

.linkCV {
  color: #65635d;
  text-decoration: none;
}

.linkCV:hover,
:focus {
  color: #e85a4f;
  text-decoration: underline;
}

.dark-mode {
  border: none;
  font-size: 1.25em;
  font-family: JosefinSans;
  color: #65635d;
  text-decoration: none;
  margin-top: 9px;
}

.dark-mode:hover,
.dark-mode:focus,
.dark-mode:active {
  color: #e85a4f;
  border: none;
  text-decoration: underline;
}
