<div class="container container1">
  <div class="row justify-content-between">
    <div class="row">
      <div class="col col-top-left">
        <label class="switch">
          <input type="checkbox" />
          <span class="slider round"></span>
        </label>
        <i class="bi bi-moon-fill align-middle icon1"></i>
        <button class="btn grid-menu" (click)="hideMenu()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col col-menu">
        <a href="/" class="menu-item"><p class="display-4">HOME</p></a>
        <a href="/projects" class="menu-item">
          <p class="display-4">PROJECTS</p>
        </a>
        <a href="/about" class="menu-item">
          <p class="display-4">ABOUT</p>
        </a>
        <span>
          <a
            class="link2"
            href="https://www.linkedin.com/in/roger-gibert-rovira-developer/"
            target="_blank"
            >Linkedin</a
          >
        </span>
        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <span>
          <a
            class="link2"
            href="https://github.com/rogergibertrovira"
            target="_blank"
            >Github</a
          >
        </span>
        <p class="email1">rogergibert8@gmail.com</p>
      </div>
    </div>
  </div>
</div>
