.row1 {
  height: 100vh;
  text-align: center;
  align-items: center;
}

.title {
  font-family: CatHat;
  font-weight: 900;
  color: #e85a4f;
}

.subtitle {
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: JosefinSans;
  font-weight: 400;
  color: #65635d;
}

h3 {
  font-family: JosefinSans;
  font-weight: 600;
}

.a1 {
  color: #e98074;
  text-decoration: none;
}
.a1:hover {
  color: #e85a4f;
  text-decoration: underline;
}
