<div class="container-fluid">
  <div class="row d-flex justify-content-center row1">
    <div class="col">
      <p class="display-1 title">ROGER&nbsp; GIBERT&nbsp; ROVIRA</p>
      <p class="display-6 subtitle">WEB DEVELOPER</p>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-4 col-lg-3">
          <a href="/projects" class="a1">
            <h3><i class="fa-solid fa-arrow-right">&nbsp;</i>My Projects</h3>
          </a>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <a href="/about" class="a1">
            <h3><i class="fa-solid fa-arrow-right">&nbsp;</i>More about me</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
