<div class="container container1">
  <div class="row justify-content-between">
    <p class="display-5 title">ABOUT</p>
    <div class="col-12 col-md-6">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
        dolore ullam nesciunt illo nisi ipsam debitis modi quae totam. Voluptas
        dignissimos temporibus doloribus enim! Dignissimos architecto recusandae
        laboriosam quaerat iste. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Veritatis dolore ullam nesciunt illo nisi ipsam
        debitis modi quae totam. Voluptas dignissimos temporibus doloribus enim!
        Dignissimos architecto recusandae laboriosam quaerat iste.
      </p>
      <div class="row row1">
        <h4>SKILLS</h4>
      </div>
      <div class="row row1">
        <div class="col col1">
          <i class="devicon-html5-plain icon1"></i>
          <p>HTML 5</p>
        </div>
        <div class="col col1">
          <i class="devicon-css3-plain icon1"></i>
          <p>CSS</p>
        </div>
        <div class="col col1">
          <i class="devicon-angularjs-plain icon1"></i>
          <p>Angular</p>
        </div>
        <div class="col col1">
          <i class="devicon-javascript-plain icon1"></i>
          <p>Javascript</p>
        </div>
      </div>
      <div class="row row1">
        <div class="col col1">
          <i class="devicon-typescript-plain icon1"></i>
          <p>Typescript</p>
        </div>
        <div class="col col1" col1>
          <i class="devicon-git-plain icon1"></i>
          <p>Git</p>
        </div>
        <div class="col col1">
          <i
            class="fa-solid fa-arrow-down-up-across-line fa-rotate-90 icon1"
          ></i>
          <p>Rest APIs</p>
        </div>
        <div class="col col1">
          <i class="fa-solid fa-arrow-down-short-wide fa-rotate-270 icon1"></i>
          <p>Responsive design</p>
        </div>
      </div>
      <p>
        <br />Check out my full CV <i class="fa-solid fa-external-link-alt"></i>
      </p>
    </div>

    <div class="col-12 col-md-5">
      <h2>CONTACT ME</h2>
      <h4>Let's work together!</h4>

      <h5>MAIL</h5>
      <p>rogergibert@gmail.com</p>

      <h5>LOCATION</h5>
      <p>Tarragona</p>

      <h5>SOCIALS</h5>
      <span>
        <a
          class="link1"
          href="https://www.linkedin.com/in/roger-gibert-rovira-developer/"
          target="_blank"
        >
          Linkedin
          <i class="fa-solid fa-external-link-alt"></i>
        </a>
      </span>
      <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <span>
        <a
          class="link1"
          href="https://github.com/rogergibertrovira"
          target="_blank"
        >
          Github
          <i class="fa-solid fa-external-link-alt"></i>
        </a>
      </span>
    </div>
  </div>
</div>
